<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link rel="stylesheet" href="charting.component.css" />
</head>

<body>
  <div class="
        charting
        container-fluid
        example-large-box
        mat-elevation-z4
        section-holder
      ">
    <div class="row h-100">
      <div class="col-sm-6 col-lg-12">
        <div class="row h-50">
          <!-- Patient Insurance details -->
          <div class="col">
            <div class="patient-header">
              <h2> Patient Insurance </h2>
            </div>
            <div class="patient-items">
              <div class="pri-insur-items">
                <p>Primary Insurance: 12456</p>
                <p>Visit Copay: $20</p>
              </div>

              <div class="sec-insur-items">
                <p>Secondary Insurance: 23456</p>
                <p>Visit Copay: $10</p>
              </div>

              <p>Next Appointment: 12/25/2021</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row h-50" style="font-weight: bold;">
        <!-- Medical History -->
        <div class="col">Medical History</div>
      </div> -->
      </div>
    </div>

    <!-- Patient reports -->
    <div class="col-6 col-lg-7">
      <div class="row">
        <!-- Physical Information -->
        <div class="col-12 col-lg-4 text-center" style="font-weight: bold;">
          <picture>
            <img [src]="imagePath" id="human-body-img" alt="Patient's Physical Details"/>
          </picture>
          <div>
              <div>Height: <span id="patient-height">189</span>cm</div>
              <div>Weight: <span id="patient-weight">140</span>lb</div>
          </div>
        </div>

      <!-- Patient reports -->
      <div class="col-6 col-lg-7">
        <div class="row">
          <!-- Physical Information -->
          <div class="col-12 col-lg-4">
            Physical Information (Skeleton, Height, Weight)
          </div>

          <!-- Patient Reports -->
          <div class="col-12 col-lg-8">
            Patient reports (BMI, Blood Pressure , Smoking)
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>